<div class="user-picker">
  <md-select placeholder="选择用户" [(ngModel)]="selected" *ngIf="editable">
    <md-option *ngIf="hasNull" [value]="null">--清除--</md-option>
    <md-option *ngFor="let user of users" [value]="user.key">
      {{ user.displayName }} ({{user.email}})
    </md-option>
  </md-select>
  <div *ngIf="selectedUser" class="selected-user">
    <img [src]="selectedUser.photoURL"
         [alt]="selectedUser.displayName"
         class="avatar"
         *ngIf="selectedUser.photoURL && displayAvatar" class="avatar">
    <div class="user-name">{{selectedUser.displayName}}</div>
  </div>
</div>
