.group-card {
  width: 300px;
  margin: 16px;
}

.create-group {
}

.group-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.create-group {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
}
