<div class="group-cards">
  <app-group-card class="group-card" *ngFor="let groupKey of groupKeys" [groupKey]="groupKey">
  </app-group-card>
</div>
<a md-fab (click)="showCreateGroup = true" color="primary" class="create-group">
  <md-icon>add</md-icon>
</a>
<md-card class="group-card" *ngIf="showCreateGroup">
  <img [src]="newGroupImg" *ngIf="newGroupImg" md-card-image/>
  <md-card-title>
    <md-input-container>
      <input mdInput [(ngModel)]="newGroupName" placeholder="团名">
    </md-input-container>
  </md-card-title>
  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="newGroupImg" placeholder="图片">
    </md-input-container>
    <md-checkbox [(ngModel)]="newGroupOpen">开放</md-checkbox>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button (click)="addGroup()" color="primary"
       [disabled]="!newGroupName || !newGroupImg">
       添加
    </a>
  </md-card-actions>
</md-card>
