
<div class="goods-cards">
  <app-goods-editor #editor *ngIf="showCreateGood"
                    [isEditMode]="true"
                    (submitChange)="showCreateGood = false">
  </app-goods-editor>

  <app-goods-editor *ngFor="let goodsKey of goodsKeys"
                    [showMore]="currentShowMore == goodsKey"
                    [want]="want(goodsKey)"
                    [has]="has(goodsKey)"
                    [goodsKey]="goodsKey"
                    (showMoreChange)="setShowMore(goodsKey, $event)">
  </app-goods-editor>
</div>
<a md-fab (click)="addClicked()" color="primary" class="create-good">
  <md-icon>add</md-icon>
</a>
