.goods-card {
  width: 300px;
  margin: 16px;
}

.goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.create-good {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
}

.has-good {
  color: green;
}

.no-good {
  color: grey;
}

.want-good {
  color: red;
}
