<a md-icon-button *ngFor="let number of numbers" (click)="goToPage(number)" class="pager"
    [color]="number == currentPage ? 'primary' : 'warn' ">{{number + 1}}</a>
<div class="goods-cards">
  <app-goods-editor #editor *ngIf="showCreateGood"
                    [isEditMode]="true"
                    (submitChange)="showCreateGood = false">
  </app-goods-editor>

  <app-goods-editor *ngFor="let goodsKey of displayKeys"
                    [showMore]="currentShowMore == goodsKey"
                    [want]="want(goodsKey)"
                    [has]="has(goodsKey)"
                    [goodsKey]="goodsKey"
                    (showMoreChange)="setShowMore(goodsKey, $event)">
  </app-goods-editor>
</div>
<a md-icon-button *ngFor="let number of numbers" (click)="goToPage(number)" class="pager"
    [color]="number == currentPage ? 'primary' : 'warn' ">{{number + 1}}</a>
<a md-fab (click)="addClicked()" color="primary" class="create-good">
  <md-icon>add</md-icon>
</a>
