<md-toolbar color="primary" *ngIf="currentUser">
  <img [src]="currentUser.photoURL"
       [alt]="currentUser.email"
       *ngIf="currentUser.photoURL" class="avatar">
  {{ currentUser.displayName }}
  <span *ngIf="!currentUser.displayName">({{currentUser.email}}) </span>
  <button md-icon-button routerLink="/profile"><md-icon >account_box</md-icon></button>
  <button md-button routerLink="/second-hand">mer/ota</button>
  <span class="nav-spacer"></span>
  <button md-button (click)="signOut()">
    退出
  </button>
</md-toolbar>
