<md-toolbar color="primary" *ngIf="currentUser">
  <img [src]="currentUser.photoURL"
       [alt]="currentUser.email"
       *ngIf="currentUser.photoURL" class="avatar">
  {{ currentUser.displayName }}
  <span *ngIf="!currentUser.displayName">({{currentUser.email}}) </span>
  <button md-icon-button ><md-icon >account_box</md-icon></button>
  <button md-button routerLink="/bought" *ngIf="isAdmin">Mer/Ota</button>
  <button md-button routerLink="/groups">拼团</button>
  <button md-button routerLink="/index">图鉴</button>
  <span class="nav-spacer"></span>
  <button md-button (click)="signOut()">
    退出
  </button>
</md-toolbar>
