<div *ngIf="isOwner">
  <md-input-container>
    <input mdInput #itemName placeholder="谷子名"/>
  </md-input-container>
  <button md-raised-button color="primary"
          (click)="addItem(itemName.value); itemName.value = ''">
          加谷子
  </button><br>
  <!-- <app-group-single-item-editor *ngIf="!!editItem"
       [item]="editItem"
       [isOwner]="isOwner"
       [groupKey]="key"
       [isEditMode]="!!editItem"
       (submit)="itemAdded()">
  </app-group-single-item-editor> -->
</div>
<h3>物品列表</h3>
<md-list>
  <app-group-single-item-editor *ngFor="let itemKey of itemKeys"
      [item]="items.get(itemKey)"
      [itemKey]="itemKey"
      [isOwner]="isOwner"
      [isEditMode]="itemKey == currentKey"
      [groupKey]="key">
  </app-group-single-item-editor>
</md-list>
