
<md-input-container>
  <input mdInput #peopleName placeholder="昵称"/>
</md-input-container>
<button md-button (click)="addPeople(peopleName.value); peopleName.value = ''">参团</button>

<div *ngIf="isOwner">
  <md-list>
    <md-list-item>
      <div md-line>
        <div class="items">
          <h4 class="item-number">名字</h4>
          <div *ngFor="let itemKey of itemKeys" class="item-number">
            {{items.get(itemKey).name}}
          </div>

        </div>
      </div>
      <a md-icon-button disabled><md-icon>edit</md-icon></a>
      <a md-icon-button disabled><md-icon>delete</md-icon></a>
    </md-list-item>
    <md-list-item *ngFor="let key of keys">
      <div md-line>
        <div class="items">
          <h4 class="item-number">{{peoples.get(key).name}}</h4>
          <div *ngFor="let itemKey of itemKeys" class="item-number">
            {{peoples.get(key).buy[itemKey]}}
          </div>
        </div>
      </div>
      <a md-icon-button (click)="editPeople(key)"><md-icon>edit</md-icon></a>
      <a md-icon-button (click)="deletePeople(key)"><md-icon>delete</md-icon></a>
    </md-list-item>
  </md-list>
</div>

<md-card *ngIf="people && peopleKey">
  <md-card-header>
    <md-card-title>{{people.name}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container *ngFor="let itemKey of itemKeys">
      <input mdInput [(ngModel)]="people.buy[itemKey]" [placeholder]="items.get(itemKey).name" type="number"
             (blur)="submit(peopleKey, itemKey, people.buy[itemKey])"  [disabled]="!isOwner && !isOpen"/>
    </md-input-container>
  </md-card-content>
  <a md-icon-button (click)="deletePeople(peopleKey)"><md-icon>delete</md-icon></a>
  <a md-icon-button (click)="close()"><md-icon>close</md-icon></a>
</md-card>
