
<div *ngIf="isOwner">
  <md-input-container>
    <input mdInput [(ngModel)]="peopleName" placeholder="昵称"/>
  </md-input-container>
  <app-user-picker [(value)]="peopleKey"
                   (displayName)="peopleName">
  </app-user-picker>
  <button md-raised-button (click)="addPeople()"
          color="primary">参团</button>
</div>

<button md-raised-button
        (click)="addMe()"
        *ngIf="!isOwner"
        color="primary">参团</button>

<app-group-people-item-editor
    [people]="people"
    [peopleKey]="peopleKey"
    [itemKeys]="itemKeys"
    [items]="items"
    [isOpen]="isOpen"
    [isOwner]="isOwner"
    [groupKey]="key"
    [isEditMode]="isEditMode">
</app-group-people-item-editor>

<div *ngIf="isOwner">
  <md-list>
    <md-list-item>
      <div md-line>
        <div class="items">
          <h4 class="item-number">名字</h4>
          <div *ngFor="let itemKey of itemKeys" class="item-number">
            {{items.get(itemKey).name}}
          </div>
        </div>
      </div>
      <a md-icon-button disabled><md-icon>edit</md-icon></a>
      <a md-icon-button disabled><md-icon>delete</md-icon></a>
    </md-list-item>
    <app-group-people-item-editor *ngFor="let key of peopleKeys"
        [people]="peoples.get(key)"
        [peopleKey]="key"
        [itemKeys]="itemKeys"
        [items]="items"
        [isOpen]="isOpen"
        [isOwner]="isOwner"
        [groupKey]="key"
        [isEditMode]="isEditMode"
        [isTableView]="true">
    </app-group-people-item-editor>
  </md-list>
</div>
