.center {
  margin: auto;
  max-width: 200px;
  text-align: center;
  vertical-align: middle;
}

.main {
  height: 100%;
  display: flex;
  min-height: 720px;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 8px;
  margin-right: 8px;
}
