<md-card>
  <md-card-title>
    <md-input-container *ngIf="isOwner">
      <input mdInput [(ngModel)]="collection.name" placeholder="名"/>
    </md-input-container>
    <div *ngIf="!isOwner">
       {{collection.name}}
    </div>
  </md-card-title>
  <md-card-content *ngIf="isOwner">
    <md-input-container>
      <textarea mdInput [(ngModel)]="collection.description" placeholder="详细"></textarea>
    </md-input-container>
    <br>
    <app-image-picker [(image)]="collection.img"></app-image-picker>
    <br>
    <md-input-container>
      <input mdInput [(ngModel)]="collection.rate" placeholder="汇率"/>
    </md-input-container>
    <md-checkbox [(ngModel)]="collection.open">开放</md-checkbox>
  </md-card-content>
  <md-card-content *ngIf="!isOwner">
    {{collection.description}}
    <p *ngIf="collection.rate">汇率 {{collection.rate}}</p>
  </md-card-content>
  <md-card-actions *ngIf="isOwner">
    <button md-raised-button (click)="submit()" color="primary">提交</button>
    <button md-raised-button (click)="delete()" color="warn">删除</button>
    <a md-raised-button routerLink="/group/{{key}}">完成</a>
  </md-card-actions>
  <md-card-actions *ngIf="!isOwner && editable">
    <a md-raised-button routerLink="/group-edit/{{key}}">编辑</a>
  </md-card-actions>
</md-card>
